.profile {
  padding-top: 40px;
  background: linear-gradient(
    180deg,
    rgba(192, 192, 192, 1) 0%,
    rgba(255, 255, 255, 1) 21%
  );
  border: 5px solid #2c2c2c;
  border-radius: 40px;
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 1px rgba(0, 0, 0, 0);
}
